
    <div class="row " >
        <div class="col" style="margin-top: 15px; " >
            <div class="col-md" >
                <div class="card text-white bg-info mb-3" >
                    <div class="card-header card-heading">
                        Total Orders
                    </div>
                    <div class="card-body card-heading">
                        <h5 class="card-title">{{total_order}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md"  style="margin-top: 15px;">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header card-heading">
                       Order delivered
                    </div>
                    <div class="card-body card-heading">
                        <h5 class="card-title">{{order_delivered}}</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" >
            <div class="col-md"  style="margin-top: 15px;">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header card-heading">
                        Order Pending
                    </div>
                    <div class="card-body card-heading">
                        <h5 class="card-title">{{order_pending}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

